<section class="section features">
  <div class="container">
    {{ range .content }}
    <div class="row portfolio-feature my-5">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        {{ with .image }}
        <img src="{{ .src }}" alt="{{ .title }}">
        {{ end }}
        {{ with .video }}
        <video autoplay muted loop playsinline>
          <source src="{{.}}" type="video/mp4">
          <!-- Add additional source elements for other video formats if needed -->
          Your browser does not support the video tag.
        </video>
        {{ end }}
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        {{ with .pretitle }}
        <p class="text-black fw-bold mb-2">{{ . }}</p>
        {{ end }}
        {{ with .title }}
        <h4 class="fs-1 fw-bold text-black pb-3">{{ . }}</h4>
        {{ end }}
        {{ with .text }}
        <div class="text-black-61 pb-3">
          {{ . | markdownify }}
        </div>
        {{ end }}
        <div class="">
          {{ range .buttons }}
          <a class="text-decoration-none me-3" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>