<section class="section hero py-5">
  <div class="container flex">
    <div class="title-ct">
      {{ with .content.pretitle }}<p class="pre-title text-black fw-bold text-center text-lg pb-2">{{ . | markdownify }}</p>{{
      end }}
      {{ with .content.title }}<h1 class="hero-title fw-bold display-1 text-black text-center text-xl pb-4">{{ . |
        markdownify }}</h1>{{ end }}
      {{ with .content.text }}<h4 class="text-center text-black-61 text-xl pb-4">{{ . | markdownify }}</h4>{{ end }}
    </div>

    <div class="image-ct">
      {{ with .content.image }}
      <img src="{{ .src }}" alt="{{ .title }}" class="hero-image">
      {{ end }}
    </div>

    <div class="cta-ct text-center">
      {{ with .content.buttonPrimary }}
      <a class="btn btn-primary text-light font-bold px-4 my-1" href="{{ .url }}">{{ .label }}</a>
      {{ end }}
      {{ with .content.buttonSecondary }}
      <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{
          partial "icons/arrow-right.html" }}</span></a>
      {{ end }}
    </div>
  </div>
</section>