.section.features {
  .portfolio-feature {
    &:nth-child(even) {
      @media (min-width: 1200px) {
        flex-direction: row-reverse;
      }
    }

    ul > li {
      margin-bottom: 0.7rem;

      &::marker {
        content: "> ";
      }
    }
  }

  img {
    margin: 25px;
  }

  video {
    border-radius: 15px;
    margin: 25px;
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.3);
  }
}
