.section.hero {
  min-height: 65vh;
  display: flex;

  .container {
    margin: auto;
    max-width: 1200px;

    .title-ct {
      .pre-title {
        text-decoration: underline;
      }
    }

    .image-ct {
      width: 681px;
      margin: 0 auto;

      .hero-image {
        max-width: 100%;
      }
    }
  }
}
