{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ with $data.home.hero }}{{ partial "sections/hero.html" . }}{{ end }}
{{ with $data.home.brands }}{{ if .enabled }}{{ partial "sections/brands.html" . }}{{ end }}{{ end }}
{{ with $data.home.features }}{{ if .enabled }}{{ partial "sections/features.html" . }}{{end}}{{ end }}
{{ with $data.home.services }}{{ if .enabled }}{{ partial "sections/services.html" . }}{{end}}{{ end }}
{{ with $data.home.testimonials }}{{ if .enabled }}{{ partial "sections/testimonials.html" . }}{{end}}{{ end }}
{{ with $data.home.cta }}{{ if .enabled }}{{ partial "sections/cta.html" . }}{{end}}{{ end }}
{{ end }}