<head>
  <!-- Title -->
  <title>{{ if not .IsHome }}{{ with .Title }} {{ . }} | {{ end }}{{ end }} {{ .Site.Title }} </title>

  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description"
    content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{end}}" />

  <!-- Favicons and Manifest -->
  <link rel="shortcut icon" href="{{ `logo.png` | absURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `favicon.ico` | absURL }}" type="image/x-icon">

  <!-- SEO: Google Analytics -->
  {{ partial "head/_seo.html" . }}

  <!-- Stylesheets and Javascript -->
  {{ partial "head/_resources.html" . }}

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>